@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}

input::selection, textarea::selection{
  background: green;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
